$main-red: #FF4E50;
$secondary-red: #FFCBCC;
$secondary-gray: #A4A4A4;
$outline-color: #DADADA;

.checks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .check-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: 2px dashed $outline-color;
    border-radius: 20px;
    min-height: 200px;
    background-color: #F1F1F1;
    cursor: pointer;

    &:hover {
      outline: 2px dashed $main-red;
    }

    &:hover .primary-text {
      color: $main-red;
    }

    img {
      width: 80px;
      background-color: #FFFFFF;
      padding: 10px;
      border-radius: 10px;
    }

    .primary-text {
      font-size: 18px;
      font-weight: 600;
    }

    .secondary-text {
      font-family: "Arial";
      font-size: 12px;
      color: $secondary-gray;
    }

    // Стили для ошибок
    .error-message {
      color: $main-red;
      font-size: 14px;
      margin-top: 10px;
    }

    // Стили для успешного сообщения
    .success-message {
      color: $secondary-red;
      font-size: 14px;
      margin-top: 10px;
    }

    // Прогресс-бар
    .progress-bar {
      position: relative;
      width: 100%;
      height: 10px;
      background-color: #e0e0e0;
      border-radius: 5px;
      margin-top: 10px;

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $main-red;
        border-radius: 5px;
        transition: width 0.3s ease;
      }
    }

    // Кнопка обработки
    .process-button {
      background-color: $main-red;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      width: 80%;
      text-align: center;
      margin-top: 10px;
      transition: all 0.3s ease;

      &:hover {
        color: $main-red;
        background-color: #fff;
        outline: 1px solid $main-red;
      }

      &:disabled {
        background-color: $secondary-gray;
        cursor: not-allowed;
      }
    }

    // Результаты распознавания
    .results {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid $outline-color;
      border-radius: 10px;
      background-color: #faf8f8;
      width: 100%;

      h2 {
        margin-bottom: 10px;
        font-size: 18px;
        color: $main-red;
      }

      .item-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .item-name {
          font-weight: bold;
          color: $secondary-gray;
        }

        .item-price {
          font-weight: bold;
          color: $main-red;
        }
      }

      // Кнопка для просмотра сырого текста
      button {
        background-color: $main-red;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
        transition: all 0.3s ease;

        &:hover {
          color: $main-red;
          background-color: #fff;
          outline: 1px solid $main-red;
        }
      }

      // Сырой текст
      #rawText {
        margin-top: 10px;
        padding: 10px;
        background-color: #eee;
        white-space: pre-wrap;
        border-radius: 5px;
        font-size: 12px;
        color: $secondary-gray;
      }
    }
  }

  .check-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-weight: 600;
      font-size: 24px;
    }

    .check-card {
      border-radius: 20px;
      outline: 0.5px solid $outline-color;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .top-section {
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 20px;
        }

        .date {
          font-size: 16px;
          color: $secondary-gray;
        }
      }

      .info-table {
        display: flex;
        gap: 50px;

        @media (max-width: 625px) {
          flex-direction: column;
        }

        .item {
          .item-title {
            font-size: 16px;
            color: $secondary-gray;
          }

          .item-value {
            font-size: 20px;
          }
        }
      }

      .more-button {
        background-color: $main-red;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        cursor: pointer;
        width: 10%;

        @media (max-width: 1024px) {
          width: 20%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        .check-card {
            border-radius: 20px;
            outline: 0.5px solid $outline-color;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .top-section {
                display: flex;
                justify-content: space-between;

                .title {
                    font-size: 20px;
                }
                
                .date {
                    font-size: 16px;
                    color: $secondary-gray;
                }
            }

            .info-table {
                display: none;
                gap: 50px;

                @media (max-width: 625px) {
                    flex-direction: column;
                }

                .item {
                    .item-title {
                        font-size: 16px;
                        color: $secondary-gray;
                    }

                    .item-value {
                        font-size: 20px;
                    }
                }
                &.opened {
                    display: flex;
                }
            }

            .more-button {
                background-color: $main-red;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 15px;
                cursor: pointer;
                width: 10%;

                @media (max-width: 1024px) {
                    width: 20%;
                }

                @media (max-width: 768px) {
                    width: 100%;
                }

                &:hover {
                    color: $main-red;
                    background-color: #fff;
                    outline: 0.5px solid $outline-color;
                }
            }
        }
      }
    }
  }
}