/* src/styles/ExpensesChart.scss */

$primary-color: #e74c3c;
$background-color: #f4f4f4;
$outline-color: #e74c3c;

.green { background-color: #2ecc71; }
.blue { background-color: #3498db; }
.red { background-color: #e74c3c; }
.yellow { background-color: #f1c40f; }

.expenses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 50px;
  border-radius: 30px;
  background-color: $background-color;
  width: 30%; // Начальная ширина
  margin: 0 auto; // Центрируем блок по горизонтали
  transition: all 0.3s ease; // Плавные изменения

  @media (max-width: 1024px) {
    width: 40%; // Увеличиваем ширину на средних экранах
  }

  @media (max-width: 768px) {
    width: 100%; // Увеличиваем ширину на планшетах
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  @media (max-width: 425px) {
    width: 100%; // Блок занимает всю ширину экрана
    padding: 20px; // Уменьшаем отступы
    background-color: white;
  }

  h2 {
    font-size: 24px;
    color: #333;
    text-align: center; // Центрируем текст заголовка
    transition: font-size 0.3s ease; // Плавное изменение размера текста

    @media (max-width: 425px) {
      font-size: 20px; // Уменьшаем размер заголовка
    }
  }

  .chart-container {
    width: 100%;
    height: auto; /* Высота автоматически подстраивается */
    min-height: 300px; /* Минимальная высота для диаграммы */
    background-color: $background-color;
    border-radius: 30px;
    transition: all 0.3s ease; // Плавное изменение высоты и других свойств

    @media (max-width: 768px) {
      background-color: white;
    }

    @media (max-width: 425px) {
      min-height: 200px; // Уменьшаем минимальную высоту
    }
  }

  .expense-list {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }

  .add-check {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      color: #e74c3c;
      background-color: #fff;
      outline: 0.5px solid $outline-color;
    }

    @media (max-width: 425px) {
      padding: 8px 16px; // Уменьшаем отступы
      font-size: 14px; // Уменьшаем размер текста
    }
  }
}