/* src/styles/Login.scss */

$main-red: #FF4E50;
$secondary-red: #FFCBCC;
$secondary-gray: #A4A4A4;
$bg-color: #FAF8F8;
$outline-color: #e74c3c;

.login-bg {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10%;

  @media (max-width: 768px) {
    padding: 20px; /* Добавляем отступы для маленьких экранов */
  }

  .login-main {
    padding: 50px;
    width: 400px; /* Фиксированная ширина */
    height: auto; /* Автоматическая высота */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 19px 26px 0 #3D3D3D19; /* Тень для визуального эффекта */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: $bg-color; /* Фон страницы */

    @media (max-width: 768px) {
      width: 90%; /* Уменьшаем ширину на маленьких экранах */
      padding: 30px; /* Уменьшаем внутренние отступы */
    }

    .login-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid $secondary-red;
        border-radius: 15px;
        font-size: 16px;
        transition: all 0.3s ease;
        box-sizing: border-box;
        outline: none;

        &:hover {
          border: 1px solid $main-red;
          border-radius: 20px;
        }
      }
    }

    .login-button {
      background-color: $main-red;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }

      &:hover {
        color: $main-red;
        background-color: #fff;
        outline: 0.5px solid $outline-color;
      }
    }

    .login-link {
        display: block;
        margin-top: 10px;
        color: #FF4E50;
        text-decoration: none;
        transition: color 0.3s ease;
    }
  }
}