/* src/styles/Login.scss */

$main-red: #FF4E50;
$secondary-red: #FFCBCC;
$secondary-gray: #A4A4A4;
$bg-color: #FAF8F8;
$outline-color: #e74c3c;

.auth-bg {
  display: flex; /* Используем flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  min-height: 100vh; /* Минимальная высота равна высоте экрана */

  @media (max-width: 768px) {
    width: 100%;  
  }

  .auth-main {
    padding: 50px;
    width: 400px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 19px 26px 0 #3D3D3D19;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: $bg-color;

    .auth-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid $secondary-red;
        border-radius: 15px;
        font-size: 16px;
        transition: all 0.3s ease;
        box-sizing: border-box;
        outline: none;

        &:hover {
          border: 1px solid $main-red;
          border-radius: 20px;
        }
      }
    }

    .auth-button {
      background-color: $main-red;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }

      &:hover {
        color: $main-red;
        background-color: #fff;
        outline: 0.5px solid $outline-color;
      }
    }
  }
}