/* src/styles/style.scss */

@import "../assets/fonts/fonts.css";

// Переменные для цветов
$primary-color: #e74c3c;
$secondary-color: #3498db;
$success-color: #2ecc71;
$warning-color: #f1c40f;
$background-color: #f4f4f4;
$text-color: #333;

// Общие стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex";
}

body {
  color: $text-color;

  @media (max-width: 425px) {
    background-color: white; // Фон становится белым на маленьких экранах
  }
}

header {
  gap: 30px;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  @media (max-width: 1025px) {
    gap: 100px;
    padding: 40px;
  }

  @media (max-width: 769px) {
    gap: 10px;
    padding: 20px;
  }

  @media (max-width: 426px) {
    flex-direction: column; // Элементы шапки будут в колонку
    gap: 0;
    padding: 20px 30px;
  }

  .logo-img {
    width: 130px;
    height: auto;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 22px;


    @media (max-width: 769px) {
      padding: 20px;
      list-style: none;
      display: flex;
      gap: 30px;
      font-size: 20px;
      flex-direction: row;
    }

    @media (max-width: 426px) {
      padding: 20px;
      list-style: none;
      display: flex;
      gap: 20px;
      font-size: 20px;
      flex-direction: row;
    }

    @media (max-width: 376px) {
      padding: 20px;
      list-style: none;
      display: flex;
      gap: 10px;
      font-size: 20px;
      flex-direction: column;
    }
  
    li a {
      text-decoration: none; /* Убираем стандартное подчёркивание */
      color: $text-color;
      font-weight: bold;
      padding: 5px 0;
      transition: color 0.3s ease, text-decoration 0.3s ease;
  
      &:hover {
        color: $primary-color;
      }
    }
    .active {
      text-decoration: underline; /* Подчёркивание для активной ссылки */
      text-underline-offset: 4px; /* Отступ подчёркивания от текста */
      text-decoration-thickness: 2px; 
      text-decoration-color: $primary-color; /* Цвет подчёркивания */
    }
  }

  .user {
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;

     a {
      text-decoration: none;
      color: #e74c3c;
      font-weight: 600;
      font-size: 22px;
    }

    .user-img {
      width: 40px; // Уменьшаем размер аватара
      height: 40px;
    }
  }
}

.main-page {
  display: flex;
  gap: 80px;
  padding: 20px 40px;
  justify-content: center; // Центрируем содержимое по горизонтали
  align-items: flex-start; // Выравниваем по верхнему краю
  transition: all 0.3s ease; // Плавные изменения

  @media (max-width: 1024px) {
    gap: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 425px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; // Уменьшаем отступы
    gap: 20px; // Добавляем отступ между элементами
  }
}
